# Python Code
__pycache__/
*.py[cod]
*$py.class

# Environments & Secrets
.env
.venv/
venv/
ENV/
aws-bot-key.pem

# Project Specific Logs & Artifacts
debug_logs/
*.log
encounter_dump.html
dom_dump.html
*.png

# IDE / Editor Settings
.vscode/
.idea/
.cursorignore
.ruff_cache/

# Bỏ qua file chứa phiên đăng nhập (Bảo mật)
auth.json